body {
    background-color: #000000;
    color: #ffffff;
}

.center {
    text-align: center;
}



.intro {
    text-align: center;
}

.typewritter{
	font-family: monospace;
	display: inline-block
}

.typewritter-text{
	display: inline-block;
	overflow: hidden;
	letter-spacing: 3px;
	animation: typing 5s steps(34,end),blink .75s step-end infinite;
	white-space: nowrap;
	font-size: 40px;
	font-weight: 700;
	border-right: 4px solid orange;
	box-sizing: border-box;
}

@keyframes typing{
	from{
		width: 0%
	}
	to{
		width: 100%
	}
}

@keyframes blink{
	from,to{
		border-color: transparent
	}
	50%{border-color: white}
}

#wrapper {
  	width: 100%;
  	height: 400px;
	border: 1px solid black;
 	display: flex;
  	align-items: center;
  	justify-content: center;
}

#paper {
	visibility: hidden;

}

#magicbutton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.centerimg {
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}

.box {
	background-color: #000000;
	color: #ffffff;
	display: block;
	background-clip: padding-box;
    border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-left: auto;
  	margin-right: auto;
}

.block {
	display: block;
}

.container {
	width:100%;
	height:auto;
	padding:1%;
	float:left;
}

.kurisu {
	margin-left:2%;
	float:left;
	height:200px;
	width:264px;
	margin-right:2%;
}

.images{
	position: relative;
}

#vanishment {
	visibility: hidden;
	position: absolute;
}

#devin {
	visibility: hidden;
	position: absolute;
}

#inside_identity {
	visibility: hidden;
	position: absolute;
}

#vivy {
	visibility: hidden;
	position: absolute;
}

#leader {
	visibility: hidden;
	position: absolute;
}

#canary {
	visibility: hidden;
	position: absolute;
}

#iamnice {
	visibility: hidden;
	position: absolute;
}


#twobee {
	visibility: hidden;
	position: absolute;
}

#gopher {
	visibility: hidden;
	left: 560px;

}

#filler {
	visibility: hidden;
}

#fillertwo {
	visibility: hidden;
}
#lefto {
	float: left;
}
